@import url("https://fonts.googleapis.com/css?family=Oswald");
body{background:url(../images/malla-background.jpg);overflow-x:hidden;padding-top:215px;
}
@media only screen and (max-width:992px) and (min-width:601px){body{padding-top:205px;}}
@media only screen and (max-width:600px){body{padding-top:160px;}}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{ -webkit-appearance:none;margin:0;}
input[type=number]{ -moz-appearance:textfield;}
p,ul{font-size:1.0625rem;}
.fixed{ position:fixed; right:0; left:0; top:0; }
.fixed.header{width:100%;}
.slide--reset{-webkit-transform:translateY(0);transform:translateY(0);z-index:2;}
.slide--up{z-index:0;
}
.slide--up nav .brand-logo,.slide--up nav.menu-inicio ul,.slide--up nav.menu-principal{-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0;}
.slide--up nav.menu-principal{-webkit-transform:translateY(-100%);transform:translateY(-100%);}
.slide--up nav .brand-logo{-webkit-transform:translateX(100%);transform:translateX(100%);}
.slide--up nav.menu-inicio ul{-webkit-transform:translateX(-100%);transform:translateX(-100%);}
@media only screen and (max-width:992px) and (min-width:100px){header.slide--notop nav .brand-logo.right{display:none;}header.slide--notop nav.menu-principal{margin-top:-15px;}}
header nav.menu-inicio,header nav.menu-principal{transition:all .5s ease-in-out;height:100%;background-color:transparent;box-shadow:none;font-family:Oswald,sans-serif;}
header nav.menu-inicio ul li,header nav.menu-principal ul li{display:inline-block;float:none;}
header nav.menu-inicio ul li .btn-mallas,header nav.menu-principal ul li .btn-mallas{margin:0;width:100%;background:linear-gradient(110deg,#006da0,#e6ecff,#006da0,#002f50);background:linear-gradient(110deg,#006da0,rgba(230,236,255,.84),rgba(0,109,160,.79),#002f50);border:1px solid #005988;border-radius:0 50px;box-shadow:-4px 5px 14px 3px #001e40;text-shadow:-1px 0 2px #000,0 -1px 3px #000;line-height:1.3125rem;font-size:1.3125rem;padding:6px 0 5px;transition:.3s ease-out;}
header nav.menu-inicio ul li .btn-mallas:hover,header nav.menu-principal ul li .btn-mallas:hover{background:linear-gradient(110deg,red,#ff0f0f,#ca0000,#d20000);background:linear-gradient(110deg,red,rgba(255,15,15,.38),rgba(202,0,0,.72),#d20000);transition:.3s ease-out;}
header nav.menu-inicio .btn-inicio,header nav.menu-principal .btn-inicio{color:#fff;text-shadow:-1px 2px 1px #000,2px 1px 2px #000,2px -1px 1px #000;font-size:1.25rem;line-height:2rem;}
header nav.menu-inicio .btn-inicio i,header nav.menu-principal .btn-inicio i{background:linear-gradient(118deg,#ff0000,#ff0000,#4a0000);background:linear-gradient(118deg,rgba(255,0,0,.54),rgba(255,0,0,.98),#4a0000);width:55px;height:55px;line-height:3.125rem;font-size:1.4375rem;color:#ececec;border-radius:50px;border:3px solid #fff;box-shadow:0 0 7px 1px #00041b;text-shadow:-1px 2px 1px #000;}
header nav.menu-inicio .btn-inicio:hover,header nav.menu-principal .btn-inicio:hover{background:transparent;color:#ffdf36;}
header nav.menu-inicio .btn-inicio:hover i,header nav.menu-principal .btn-inicio:hover i{border:3px solid #ffee93;color:#ffdf36;-webkit-transform:rotate(1turn);transform:rotate(1turn);transition-duration:2s;transition-property:all;transition-timing-function:ease;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";opacity:1;transition:all .9s ease 0s;}
header nav.menu-inicio{line-height:1.875rem;margin-top:20px;}
header nav.menu-inicio ul{transition:all .5s ease-in-out;}
header .row .col.l2{padding:0;margin-left:-3px;margin-right:-3px;}
@media only screen and (min-width:993px){header .row .col.l2{width:17.128%;}}
header nav .brand-logo{transition:all .4s ease-in-out;position:relative;font-family:Arial,Helvetica,sans-serif;top:-7px;min-height:120px;}
header nav .brand-logo h1{position:absolute;font-weight:700;margin:0;right:0;}
header nav .brand-logo h1 span.c{position:absolute;-webkit-transform:translate(-68px,-1px) scaleY(1.2) skewY(-8deg);transform:translate(-68px,-1px) scaleY(1.2) skewY(-8deg);}
header nav .brand-logo h1 div{display:inline-block;}
header nav .brand-logo .slogan1{color:#ff0;text-shadow:0 1px 0 #ff0,-2px -1px 0 #000,-2px 3px 0 #000,1px 3px 0 #000,2px 0 0 #000,-2px -2px 0 #000,1px -2px 0 #000;top:4px;letter-spacing:0.0625rem;font-size:1.875rem;-webkit-transform:scaleY(.85);transform:scaleY(.85);}
header nav .brand-logo .slogan2{color:#000;text-shadow:1px 1px 1px #fff;top:92px;font-size:1.375rem;}
header nav .brand-logo .cercotec{position:relative;color:red;margin:34px 0 40px;-webkit-transform:scaleY(.85);transform:scaleY(.85);font-family:Arial Black,Arial Bold,Gadget,sans-serif;font-size:3.375rem;text-shadow:2px 4px 0 #fff,3px 4px 0 #fff,-3px 4px 0 #fff,-3px -3px 0 #fff,3px -3px 0 #fff,4px 1px 0 #fff,3px -1px 0 #fff,0 0 30px #000;font-weight:900;}
@media only screen and (max-width:992px) and (min-width:601px){header nav .brand-logo.right{-webkit-transform:scale(.87) translateY(-15px);transform:scale(.87) translateY(-15px);right:50%;margin-right:-182px;margin-bottom:-25px;}}
@media only screen and (max-width:600px){header nav .brand-logo.right{-webkit-transform:scale(.65) translateY(-47px);transform:scale(.65) translateY(-47px);right:50%;margin-right:-169px;margin-bottom:-61px;}}
header svg{position:absolute;-webkit-transform:scale(.9) translateX(-117px);transform:scale(.9) translateX(-117px);top:-2px;}
header ul.side-nav{background-color:hsla(0,0%,100%,.91);}
header ul.side-nav a{height:auto;line-height:1.875rem;}
header ul.side-nav li{margin-bottom:10px;}
header ul.side-nav li a.btn-mallas{color:#fff;height:auto;width:90%;}
section.container{padding-bottom:5px;margin-bottom:20px;box-shadow:0 1px 12px 3px #525252;background:linear-gradient(hsla(0,0%,100%,.95) 50%,hsla(0,0%,100%,.45));border-radius:30px 0;
}
section.container .input-field{margin-top:0;line-height:.7;}
section.container .input-field .prefix{font-size:1.2em;left:15px;top:10px;line-height:.6;color:#1f4896;}
section.container .input-field label{color:#636363;font-size:16px;font-size:1rem;padding-left:8px;padding-left:.5rem;}
section.container article{padding:0 20px 15px;}
section.container .article-flex{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:reverse;-ms-flex-direction:row-reverse;flex-direction:row-reverse;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-ms-flex-wrap:wrap;flex-wrap:wrap;}
section.container figure{margin:20px 0 0;border:1px solid #8fa4b9;background:linear-gradient(47deg,#1e6489,#3488b1,#093f63);background:linear-gradient(47deg,#1e6489,rgba(52,136,177,0),#093f63);border-radius:5px;padding:8px;}
section.container figure img{width:100%;}
section.container figure figcaption{font-size:1.0625rem;text-shadow:-1px -1px 0 #fff;}
section.container #materialbox-overlay{background-color:hsla(0,0%,7%,.76);}
section.container h4{text-shadow:-1px 1px 1px #000;background:linear-gradient(53deg,#f50000,#ff3535,#f50000);color:#ffdb0d;margin:0;border-radius:27px 0;text-align:center;padding:5px 0;}
section.container .margen-bottom{margin-bottom:0;}
section.container .input-field label:not(.label-icon).active,section.container input:not([type]):focus:not([readonly])+label,section.container input[type=date]:focus:not([readonly])+label,section.container input[type=datetime-local]:focus:not([readonly])+label,section.container input[type=datetime]:focus:not([readonly])+label,section.container input[type=email]:focus:not([readonly])+label,section.container input[type=number]:focus:not([readonly])+label,section.container input[type=password]:focus:not([readonly])+label,section.container input[type=search]:focus:not([readonly])+label,section.container input[type=tel]:focus:not([readonly])+label,section.container input[type=text]:focus:not([readonly])+label,section.container input[type=time]:focus:not([readonly])+label,section.container input[type=url]:focus:not([readonly])+label,section.container textarea.materialize-textarea:focus:not([readonly])+label{color:#df0209;top:0;font-size:16px;font-size:1rem;}
section.container input:not([type]):focus:not([readonly]),section.container input[type=date]:focus:not([readonly]),section.container input[type=datetime-local]:focus:not([readonly]),section.container input[type=datetime]:focus:not([readonly]),section.container input[type=email]:focus:not([readonly]),section.container input[type=number]:focus:not([readonly]),section.container input[type=password]:focus:not([readonly]),section.container input[type=search]:focus:not([readonly]),section.container input[type=tel]:focus:not([readonly]),section.container input[type=text]:focus:not([readonly]),section.container input[type=time]:focus:not([readonly]),section.container input[type=url]:focus:not([readonly]),section.container textarea.materialize-textarea:focus:not([readonly]){border-bottom:1px solid #df0209;background:#004ca4;background:rgba(0,76,164,.89);color:#fff;box-shadow:0 1px 0 0 #df0209;transition:all .3s linear;}
section.container input:not([type]),section.container input[type=date],section.container input[type=datetime-local],section.container input[type=datetime],section.container input[type=email],section.container input[type=number],section.container input[type=password],section.container input[type=search],section.container input[type=tel],section.container input[type=text],section.container input[type=time],section.container input[type=url],section.container textarea.materialize-textarea{height:20.8px;height:1.3rem;border-bottom:1px solid #504896;border:1px solid #504896;padding:5px;border-radius:6px;background:hsla(0,0%,100%,.54);line-height:1;}
section.container .input-field .prefix.active{color:#df0209;}
section.container .construccion{padding:5px;background:linear-gradient(-8deg,#006da0,#e6ecff,#006da0,#002f50);background:linear-gradient(-8deg,#006da0,rgba(230,236,255,.84),rgba(0,109,160,.79),#002f50);border-radius:5px;margin-top:15px;}
section.container .construccion .slider .indicators .indicator-item.active{background-color:#f70909;}
section.container .construccion .slider .slides li.active{z-index:1;}
section.container .construccion .slides li{z-index:0;}
section.container .construccion .slides li .caption{color:#fed708;top:2%;}
section.container .construccion h3,section.container .construccion h5{text-shadow:1px 1px 1px #000;}
footer .carousel{height:330px;}
footer .fot{display:inline-block;background:linear-gradient(18deg,#003b56,#257097,#00253e);background:linear-gradient(18deg,#003b56,rgba(37,112,151,.89),#00253e);border-radius:50px 5px;box-shadow:-3px 2px 7px 0 #000;text-shadow:1px 1px 1px #000;margin-bottom:10px;}
footer .fot p{color:#fff;}
footer .fot h3{font-size:1.4375rem;text-align:center;background:linear-gradient(40deg,#ffe61d,#fbff42,#ffd200);color:red;font-weight:500;border-radius:47px 4px 0 0;line-height:2.5625rem;margin:0;}
footer .fot div{padding:1px 20px;}
footer .fot b{color:#ffed00;}
@media only screen and (min-width:1311px){footer .fot{height:210px;}}
@media only screen and (min-width:1201px) and (max-width:1310px){footer .fot{height:215px;}}
@media only screen and (min-width:993px) and (max-width:1200px){footer .fot{height:230px;}}
footer .row.creditos{text-shadow:0 1px 0 #fff,1px -1px 0 #fff,-1px 2px 4px #000;margin-top:4px;margin-bottom:0;}
footer .row.creditos p{margin-top:0;}
footer ul.social_icons{list-style:none;padding:0;margin:0;display:block;}
footer ul.social_icons li{display:inline-block;margin-right:5px;margin-top:11px;margin-bottom:10px;}
footer ul.social_icons li a i{border-radius:50%;color:#fff;height:40px;line-height:2.5rem;font-size:1.25rem;padding:0;text-align:center;width:40px;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";opacity:.8;border:1px solid hsla(0,0%,100%,.57);box-shadow:0 0 5px 1px #000;}
footer ul.social_icons li a i:hover{-webkit-transform:rotate(1turn);transform:rotate(1turn);transition-duration:2s;transition-property:all;transition-timing-function:ease;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";opacity:1;transition:all .9s ease 0s;}
footer ul.social_icons .fa-twitter{background:linear-gradient(150deg,#c9ecff,#00adff,#000);}
footer ul.social_icons .fa-facebook{background:linear-gradient(150deg,#89c3ff,#004ec7,#000 110%);}
footer ul.social_icons .fa-youtube{background:linear-gradient(150deg,#ff8787,red,#3c0000);}
@media only screen and (min-width:993px){.container{width:85%;}}
@media only screen and (min-width:600px) and (max-width:992px){.container{width:90%;}}
