@charset "utf-8";
/*
Theme Name: Mallas Olímpicas CERCOTEC Bolivia
Theme URI: nandes.ingsistemas@gmail.com
Author: Fernando Javier Averanga Aruquipa
Author URI: nandes.ingsistemas@gmail.com
Description: Tema creado para Mallas Olímpicas Cercotec
Version: 5.0
Tags: tema, fernando, fernando averanga, fernando averanga arquipa, @2062nandes
*/
@import url('https://fonts.googleapis.com/css?family=Oswald');
body {background: url(../images/malla-background.jpg);overflow-x: hidden;padding-top: 215px;
  @media only screen and (max-width: 992px) and (min-width: 601px){padding-top: 205px;}
  @media only screen and (max-width: 600px){padding-top: 160px;}
}
input[type=number]::-webkit-outer-spin-button,input[type=number]::-webkit-inner-spin-button { -webkit-appearance: none;margin: 0;}
input[type=number] { -moz-appearance:textfield;}
ul,p{font-size:17px;}
.fixed{ position: fixed; right: 0; left: 0; top: 0; }
.fixed.header{width: 100%;}
/*#header.slide--up #logo{top: -150px; -webkit-animation: none; animation: none;}*/
.slide{}
.slide--reset{transform:translateY(0);z-index:3;}
.slide--up{z-index:0;
  nav.menu-principal,nav .brand-logo,nav.menu-inicio ul{opacity:0;}
  nav.menu-principal{transform:translateY(-100%);}
  nav .brand-logo{transform: translateX(100%);}
  nav.menu-inicio ul{transform: translateX(-100%);}
}
header.slide--notop{
  @media only screen and (max-width: 992px) and (min-width: 100px){
      nav .brand-logo.right{display:none;}
      nav.menu-principal{margin-top:-15px;}
  }
}
header{
  nav.menu-principal,nav.menu-inicio{transition:all .50s ease-in-out;height: 100%;background-color: transparent;box-shadow: none;font-family: 'Oswald', sans-serif;
   ul li{display: inline-block;float: initial;
    .btn-mallas{margin: 0;width: 100%;background: linear-gradient(110deg,#006da0,rgba(230,236,255,.84),rgba(0,109,160,.79),#002f50);border: 1px solid #005988;border-radius: 0 50px;box-shadow: -4px 5px 14px 3px #001e40;text-shadow: -1px 0px 2px #000, 0px -1px 3px black;line-height: 21px;font-size: 21px;padding: 6px 0 5px 0;transition: .3s ease-out;}
    .btn-mallas:hover{background: linear-gradient(110deg,#ff0000,hsla(0, 100%, 53%, 0.38),rgba(202, 0, 0, 0.72),#d20000);transition: .3s ease-out;}}
    .btn-inicio{color: #fff;text-shadow: -1px 2px 1px #000, 2px 1px 2px #000, 2px -1px 1px black;font-size: 20px;line-height: 32px;
      i{background: linear-gradient(118deg,rgba(255,0,0,.54),rgba(255,0,0,.98),#4a0000);width: 55px;height: 55px;line-height: 50px;font-size: 23px;color: rgb(236, 236, 236);border-radius: 50px;border: solid 3px white;box-shadow: 0px 0px 7px 1px #00041b;text-shadow: -1px 2px 1px #000;}
    }
    .btn-inicio:hover{background: transparent;color:#ffdf36;
      i{border: 3px solid #ffee93;color:#ffdf36;transform: rotate(360deg);transition-duration: 2s;transition-property: all;transition-timing-function: ease;opacity: 1;transition: all 0.9s ease 0s;}
    }
  }
  nav.menu-inicio{line-height: 30px;margin-top: 20px;
    ul{transition:all .50s ease-in-out;}
  }
  .row .col.l2{
    padding:0;
    margin-left: -3px;
    margin-right: -3px;
    @media only screen and (min-width: 993px){
      width: 17.128%;
    }
  }
  nav .brand-logo {transition:all .40s ease-in-out;position: relative;font-family:Arial,Helvetica,sans-serif;top: -7px;min-height: 120px;
      h1{position:absolute;font-weight:bold;margin:0;right:0;
        span.c{position: absolute;transform: translate(-68px,-1px) scale(1,1.2) skewY(-8deg);}
        div{display:inline-block;}
      }
      .slogan1{color: #ff0;text-shadow: 0 1px 0 #ff0, -2px -1px 0 #000, -2px 3px 0 #000, 1px 3px 0 #000, 2px 0 0 #000, -2px -2px 0 #000, 1px -2px 0 #000;top: 4px;letter-spacing: 1px;font-size: 30px;transform: scaleY(.85);}
      .slogan2{color: #000;text-shadow: 1px 1px 1px #fff;top: 92px;font-size: 22px;}
      .cercotec{position: relative;color: red;margin: 34px 0 40px 0;transform: scaleY(.85);font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;font-size: 54px;text-shadow: 2px 4px 0px white, 3px 4px 0px white, -3px 4px 0px white, -3px -3px 0px white, 3px -3px 0px white, 4px 1px 0 white, 3px -1px 0px white, 0px 0px 30px #000000;font-weight: 900;}
  }
  @media only screen and (max-width: 992px) and (min-width: 601px){
      nav .brand-logo.right{transform: scale(0.87) translate(0, -15px);right: 50%;margin-right: -182px;margin-bottom: -25px;}
  }
  @media only screen and (max-width: 600px){
      nav .brand-logo.right{transform: scale(.65) translateY(-47px);right: 50%;margin-right: -169px;margin-bottom: -61px;}
  }
  svg{position: absolute;transform: scale(0.9) translateX(-117px);top: -2px;}
  ul.side-nav {background-color: rgba(255, 255, 255, 0.91);
    a{height:auto;line-height: 30px;}
    li{margin-bottom:10px;
      a.btn-mallas{color: white;height:auto;width:90%;}
    }
  }
}
/*Cuerpo*/
section.container{padding-bottom: 5px;margin-bottom:20px;box-shadow: 0px 1px 12px 3px #525252;background: linear-gradient(rgba(255, 255, 255, 0.95) 50%, rgba(255, 255, 255, 0.45) 100%);border-radius: 30px 0;
  .input-field {margin-top: 0rem;line-height: 0.7;
      .prefix {font-size: 1.2em;left: 15px;top: 10px;line-height: 0.6;color: rgb(31, 72, 150);}
      label {color: #636363;font-size: 1rem;padding-left: 0.5rem;}
  }
  article{padding: 0 20px 15px 20px;}
  .article-flex{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    flex-wrap: wrap;
  }
  figure {margin: 20px 0 0 0;border: solid 1px #8fa4b9;background: linear-gradient(47deg,#1e6489,rgba(52, 136, 177, 0),#093f63);border-radius: 5px;padding: 8px;
    img{width:100%;}
    figcaption{font-size: 17px;text-shadow: -1px -1px 0px white;}
  }
  #materialbox-overlay {background-color: rgba(19, 19, 19, 0.76);}
  h4{text-shadow: -1px 1px 1px black;background: linear-gradient(53deg,#f50000,#ff3535,#f50000);color: #ffdb0d;margin: 0;border-radius: 27px 0;text-align: center;padding: 5px 0;}
  .margen-bottom{margin-bottom: 0;}
  input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
      border-bottom: 1px solid #504896;
  }
  input:not([type]):focus:not([readonly]) + label,
  input[type=text]:focus:not([readonly]) + label,
  input[type=password]:focus:not([readonly]) + label,
  input[type=email]:focus:not([readonly]) + label,
  input[type=url]:focus:not([readonly]) + label,
  input[type=time]:focus:not([readonly]) + label,
  input[type=date]:focus:not([readonly]) + label,
  input[type=datetime]:focus:not([readonly]) + label,
  input[type=datetime-local]:focus:not([readonly]) + label,
  input[type=tel]:focus:not([readonly]) + label,
  input[type=number]:focus:not([readonly]) + label,
  input[type=search]:focus:not([readonly]) + label,
  textarea.materialize-textarea:focus:not([readonly]) + label,
  .input-field label:not(.label-icon).active {
    color: rgb(223, 2, 9);top:0;font-size: 1rem;}
  input:not([type]):focus:not([readonly]),
  input[type=text]:focus:not([readonly]),
  input[type=password]:focus:not([readonly]),
  input[type=email]:focus:not([readonly]),
  input[type=url]:focus:not([readonly]),
  input[type=time]:focus:not([readonly]),
  input[type=date]:focus:not([readonly]),
  input[type=datetime]:focus:not([readonly]),
  input[type=datetime-local]:focus:not([readonly]),
  input[type=tel]:focus:not([readonly]),
  input[type=number]:focus:not([readonly]),
  input[type=search]:focus:not([readonly]),
  textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid rgb(223, 2, 9);background:rgba(0, 76, 164, 0.89); color:white;box-shadow: 0 1px 0 0 rgb(223, 2, 9);transition: all 0.3s linear;}
  input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
      height: 1.3rem;
  }
  input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
      border-bottom: 1px solid #504896;border: 1px solid #504896;padding: 5px;border-radius: 6px;background: rgba(255, 255, 255, 0.54);line-height: 1;}
  .input-field .prefix.active {
    color: rgb(223, 2, 9);
  }
  .construccion{padding: 5px;background: linear-gradient(-8deg,#006da0,rgba(230,236,255,.84),rgba(0,109,160,.79),#002f50);border-radius: 5px;margin-top: 15px;
    .slider{
      .indicators .indicator-item.active {background-color: #f70909;}
      .slides li.active {z-index: 1;}
    }
    .slides li{z-index:0;
      .caption {color: #fed708;top: 2%;}
    }
    h3{text-shadow: 1px 1px 1px black;}
    h5{text-shadow: 1px 1px 1px black;}
  }
}
/*PIE*/
footer{
.carousel {height: 330px;}
.fot{display: inline-block;background: linear-gradient(18deg,rgb(0, 59, 86), rgba(37, 112, 151, 0.89), #00253e);border-radius: 50px 5px;box-shadow: -3px 2px 7px 0px black;text-shadow: 1px 1px 1px black;margin-bottom: 10px;
  p{color:white;}
  h3{font-size: 23px;text-align: center;background: linear-gradient(40deg,#ffe61d,rgb(251, 255, 66),#ffd200);color: red;font-weight: 500;border-radius: 47px 4px 0 0;line-height: 41px;margin: 0;}
  div{padding: 1px 20px;}
  b{color:#ffed00;}
@media only screen and (min-width:1311px){height: 210px;}
@media only screen and (min-width:1201px) and (max-width:1310px){height: 215px;}
@media only screen and (min-width:993px) and (max-width:1200px) {height: 230px;}
}
.row.creditos{text-shadow: 0px 1px 0px white, 1px -1px 0px #fff, -1px 2px 4px #000;margin-top: 4px;margin-bottom: 0;
  p{margin-top: 0;}
}
ul.social_icons {list-style: none;padding: 0;margin: 0 0;display: block;
    li {display: inline-block;margin-right: 5px;margin-top: 11px;margin-bottom: 10px;
       a{i {border-radius: 50%;color: #FFFFFF;height: 40px;line-height: 40px;font-size: 20px;padding: 0;text-align: center;width: 40px;opacity: 0.8;border: solid 1px rgba(255, 255, 255, 0.57);box-shadow: 0px 0px 5px 1px black;}
        i:hover{transform: rotate(360deg);transition-duration: 2s;transition-property: all;transition-timing-function: ease;opacity: 1;transition: all 0.9s ease 0s;}
      }
    }
    .fa-twitter {background: linear-gradient(150deg,#c9ecff,#00adff,#000);}
    .fa-facebook {background: linear-gradient(150deg,#89c3ff,#004ec7,#000000 110%);}
    .fa-youtube {background: linear-gradient(150deg,#ff8787,#ff0000,#3c0000);}
}
}
.container {
  @media only screen and (min-width: 993px){width: 85%;}
  @media only screen and (min-width: 600px) and (max-width: 992px){width: 90%;}
}
